<ul class="nav navbar-nav navbar-right">
    <li><a href="#"> Hello, <span style="font-weight:bold">@Session["StaffName"]</span></a></li>
    <li><a class="" href="@Url.Action("Logout", "Account")">Logout</a></li>
     </ul>

@*@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right" style="color:white">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">SignOut</a></li>
        </ul>
    }
}*@