
@{
    ViewBag.Title = "Index";
}

@*<div class="card" style="margin: auto; width: 50%; border: 1px solid #69a6ce; padding: 10px; ">
        <div class="card-body">
            <div>
                <h2>Load Data</h2>
                <form method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-4">
                            <input name="importFile" id="importFile" type="file" class="btn btn-outline-danger" required />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            <button type="button" id="btnUpload" class="btn btn-outline-danger">Load Data</button>&nbsp;&nbsp;&nbsp;
                        </div>
                        <div class="col-md-4">
                            <button type="button" id="btnUploadb" class="btn btn-outline-secondary">Load Multiple Files</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>*@

<div class="card loadSiningle" style="margin: auto; width: 50%; border: 1px solid #69a6ce; padding: 10px; ">
    <div class="card-body">
        <div>
            <h2>Load Data</h2>
            <form method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-4">
                        <input name="importFile" id="importFile" type="file" class="btn btn-outline-danger" required />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <button type="button" id="btnUpload" class="btn btn-outline-danger">Load Selected File</button> &nbsp;&nbsp;
                    </div>
                </div>
            </form>
        </div>

    </div>


</div>

<br />
<br />
<div class="card" style="margin: auto; width: 50%; border: 1px solid #69a6ce; padding: 10px; ">
    <div class="card-body">
        <div>
            <div id="loading">
                <p>@*<img src="~/Content/img/load-icon.png" />Please Wait...*@</p>
                <p style="font-size: 80px;">Loading in Progress...</p>
            </div>
            <p id="txtResponse" style="font-size: 20px;"></p>
            <div id="loadingCSV" class="form-group">
                <p style="font-size: 60px;">File Conversion in Progress...</p>
            </div>
            <form method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-4">
                        @*<input name="importFile" id="importFile" type="file" class="btn btn-outline-danger" required />*@
                        <h2> Load Multiple Files</h2>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <button class="" id="btnCSV">Convert to CSV</button>&nbsp;&nbsp;&nbsp;
                        <button type="button" id="btnUploadb" class="btn btn-secondary">Load Files</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>





<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@section scripts{
    <script>
        $(document).ready(function () {
            //alert('Hello');
            $("#loading").hide();
            $(".loadSiningle").hide();
            $("#loadingCSV").hide();
            $("#btnCSV").click(function () {
                ConvertToCSV();
            });
            EvaluateFileAvailability();
        });


        $(document).on("click", "#btnUpload", function () {
            var files = $("#importFile").get(0).files;

            var formData = new FormData();
            formData.append('importFile', files[0]);

            $.ajax({
                url: '/CSVUpload/ImportFile',
                data: formData,
                type: 'POST',
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.Status === 1) {
                        alert(data.Message);
                        reload();
                    } else {
                        alert("Failed to Import");
                        reload();
                    }
                }
            });
        });


        $(document).on("click", "#btnUploadb", function () {
            $("#loading").show();
            var files = $("#importFile").get(0).files;

            var formData = new FormData();
            formData.append('importFile', files[0]);

            $.ajax({
                url: '/CSVUpload/ImportMultipleFiles',
                data: formData,
                type: 'POST',
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.Status === 1) {
                        alert(data.Message);
                        reload();
                    } else {
                        if (data.Status === 2) {
                            alert(data.Message);
                            window.location.href = '/Home/Error/'
                        }
                        if (data.Status === 3) {
                            alert(data.Message);
                        }
                        if (data.Status === 4) {
                            alert(data.Message);
                        }
                        else {
                            alert("Failed to Import!");
                        }
                        $("#loading").hide();
                        //reload();
                    }
                }
            });
        });

        function reload() {
            window.location.reload(true);
        }

        function ConvertToCSV() {
            $("#loadingCSV").show();
            var obj = new Object();
            obj.HostName = $("#txtHost").val();
            obj.UserName = $("#txtUserName").val();
            obj.PublicKeyPath = $("#txtKeyPath").val();
            obj.Port = $("#txtPort").val();
            var data = JSON.stringify({
                obj: obj
            });
            return $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: "/CSVUpload/ConvertToCSV",
                data: data,
                success: function (result) {
                    alert(result.Message);
                    $("#loadingCSV").hide();
                },
                error: function () {
                    alert("Error!");
                    $("#loadingCSV").hide();
                }
            });
        }

        function EvaluateFileAvailability() {
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'Get',
                url: "/CSVUpload/IsFileEmpty",
                success: function (data) {
                    console.log(data);
                    if (data.fileEmpty) {
                        $("#btnCSV").prop("disabled", false).css('background-color', 'green');
                        $("#btnUploadb").prop("disabled", true).css('background-color', '#d2d9d5');
                        var resp = 'Hint: ' + data.Message;
                        $("#txtResponse").text(resp).css('color', 'red');
                    } else {
                        $("#btnCSV").prop("disabled", true).css('background-color', '#d2d9d5');
                        $("#btnUploadb").prop("disabled", false).css('background-color', 'green');
                        var resp = 'Hint: ' + data.Message;
                        $("#txtResponse").text(resp).css('color', 'green');                    }
                    
                },
                error: function () {
                    alert("Error!")
                }
            });
        }
    </script>
}