
@{
    ViewBag.Title = "SendFailedTransaction";
}

<h2>Resend Failed Transaction</h2>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

    });




    function resend() {
        var att = new Object();
        att.TransId = $("#txtTransId").val();
        var data = JSON.stringify({
            transId: att
        });
        return $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: "/NIBBSPortal/SendFailedTransaction",
            data: data,
            success: function (result) {
                alert(result);
            },
            error: function () {
                alert("Error!")
            }
        });
    }

  

</script>

<div class="col-xl-12 col-md-12 mb-12">
    <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">

                    <form class="user">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control form-control-user" id="txtTransId" aria-describedby="emailHelp" placeholder="Transaction Id">
                        </div>
                        <div class="form-group col-md-6">
                            <a href="#" onclick="resend()" class="btn btn-primary btn-sm">
                                Send
                            </a>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

